= form_for(User.new, url: login_path, class:'form-horizontal', role: 'form') do |f|
  - if flash[:notice]
    %div.alert.alert-success
      = flash[:notice]
  - if flash[:alert]
    %div.alert.alert-danger
      %ul
        - flash[:alert].each do |msg|
          %li
            = msg
  %div.form-group
    = f.label :username
    = f.text_field :username, class: 'form-control', size: 20
  = f.submit 'ログイン', class: 'btn btn-primary', data: {disable_with: 'ログイン中'}
%br
= link_to('/auth/twitter', {class: 'btn btn-primary btn-twitter'}) do
  = icon('twitter')
  &nbspTwitterでログイン
