%div.panel.panel-default
  %div.panel-body
    %button.header.close{'data-toggle' => "modal", 'data-target' => "#deleteTask_#{task.id.to_s}"}
      &times;
    %span.break-word
      = task.content
  %div.panel-footer
    %div.row
      %div.col-xs-5
        %div.small.text-muted
          目標時間:
          = task.target_time.strftime("%H:%M") 
          %br
          経過時間:
          = task.elapsed_time.strftime("%H:%M") 
      %div.col-xs-7.text-right
        %button.btn.btn-primary{'data-toggle' => "modal", 'data-target' => "#updateTask_#{task.id.to_s}"}
          %span.glyphicon.glyphicon-edit
          編集
        - if task.untouched?
          = link_to(start_task_path(task), class: "btn btn-primary", method: :patch) do
            %span.glyphicon.glyphicon-play
            開始
        - if task.suspended? ||task.finished?
          = link_to(resume_task_path(task), class: "btn btn-primary", method: :patch) do
            %span.glyphicon.glyphicon-play
            開始

%div.modal.fade.updateTask{'id' => "updateTask_#{task.id.to_s}", 'tabindex' => "-1", 'role' => "dialog", 'aria-labelledby' => "dialogHeader", 'aria-hidden' => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{'type' => "button", 'data-dismiss' => "modal", 'aria-hidden' => "true"}
          &times;
        %h4#dialogHeader.modal-title
          編集
        = form_for(task, url: task_path(task), remote: true) do |f|
          %div.modal-body
            %div.form-group
              = f.label :content
              = f.text_field :content, class: 'form-control'
            %div.form-group
              = f.label :target_time
              \:
              = f.select :target_time, [10, 20, 30, 40, 50, 60].map{|t| [t, t * 60]},
                {selected: task.target_time.to_i - Time.utc(2000, 1, 1, 0, 0, 0).to_i}
              分
          %div.modal-footer
            %button.btn.btn-default{'type' => "button", 'data-dismiss' => "modal"}
              キャンセル
            = button_tag(type: 'submit', class: 'btn btn-primary', data: {disable_with: '更新中...'}) do
              %span.glyphicon.glyphicon-edit
              更新

%div.modal.fade.deleteTask{'id' => "deleteTask_#{task.id.to_s}", 'tabindex' => "-1", 'role' => "dialog", 'aria-labelledby' => "dialogHeader", 'aria-hidden' => "true"}
  %div.modal-dialog.modal-sm
    %div.modal-content
      %div.modal-header
        削除しますか？
      %div.modal-footer
        %button.btn.btn-default{'type' => "button", 'data-dismiss' => "modal"}
          キャンセル
        = link_to('削除', task_path(task), class: "btn btn-danger", method: :delete)
