%div.row
  %div.col-md-3.sidebar
    %div.nav.nav-sidebar
      - if flash[:notice]
        %div.alert.alert-success
          = flash[:notice]
      = render partial: "new", locals: {task: @task}
      %h4 未着手
      = render partial: "stopped_task", collection: @untouched_tasks, as: :task
      %h4 保留中
      = render partial: "stopped_task", collection: @suspended_tasks, as: :task
  %div.col-md-9.main
    = render partial: "task_in_progress", collection: @all_tasks_in_progress, as: :task
